<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AngularJSAuthentication.API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--Integrated Security=SSPI; (localdb)\v11.0 -->
    <!--<add name="AuthContext" connectionString="Data Source=SIPECOM36\SQLEXPRESS;Initial Catalog=SegProvMsPro;User Id=sa; Password=password" providerName="System.Data.SqlClient" />-->
    <!--<add name="AuthContext" connectionString="Data Source=10.2.7.239;Initial Catalog=SegProvMsPro;User Id=sipecom; Password=Sipecom2015" providerName="System.Data.SqlClient" />-->
    <add name="AuthContext" connectionString="Data Source=10.2.7.236;Initial Catalog=SegProvMsPro;User Id=sipecom; Password=Sipecom2015" providerName="System.Data.SqlClient" />
    <!--<add name="AuthContext" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=SegProvMs;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <add name="MenuEntities" connectionString="metadata=res://*/Models.MenuModel.csdl|res://*/Models.MenuModel.ssdl|res://*/Models.MenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=AngularJSAuth;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="WApplicationServer" value="10.11.1.166" />
    <add key="WSytem" value="QAS" />
    <add key="WClient" value="400" />
    <add key="WSytemNumber" value="00" />
    <add key="WLanguaje" value="ES" />
    <add key="WUser" value="USERINTRANET" />
    <add key="WPassword" value="ravia2013" />
    <add key="WPoolSize" value="5" />
    <add key="WGroupName" value="" />
    <add key="ServidorBD" value="10.2.7.236" />
    <add key="UsuarioBD" value="12726345CB8A36A3" />
    <add key="ClaveBD" value="3201B215F297600A6AC0D772ADB80CA7" />
    <add key="MinPool" value="0" />
    <add key="MaxPool" value="10" />
    <add key="AppBD" value="FrameWorkSeguridad" />
    <add key="BaseSeguridad" value="SIPE_FRAMEWORK.Seguridad." />
    <add key="UsuarioWS" value="52BCAFA6ACC7390FF47630D9EB5EEB16" />
    <add key="TokenWS" value="477EDA952F6C80F4F0DEB7A1A8037265FAAF139A3522A74D7BC291F9AE9BF62D" />
    <add key="IdEmpresa" value="2" />
    <add key="IdSucursal" value="0" />
    <add key="IdAplicacion" value="1" />
    <add key="IdiomaBDD" value="en-US" />
    <add key="IdAplicacionApl" value="28" />
    <add key="IdOrganizacion" value="39" />
    <add key="IdOrganizacionApl" value="39" />
    <add key="IdUsuarioApl" value="usr_apl_PortalProv" />
    <add key="IdUsrlocal" value="usr_apl_PortalProv" />
    <add key="Url_WSFramework" value="http://10.2.7.239/WSFrameWork_Express/ServicioSeguridad.asmx" />
    <add key="AppBDProveedores" value="27" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SFTPServerUsername" value="portalproveedor" />
    <add key="SFTPServerPassword" value="portalproveedor" />
    <add key="RutaLogCitas" value="C:\\LogPagina\\LOGCARCHIVOS" />
    <add key="SFTPServerIP" value="10.11.7.24" />
    <add key="SFTPServerPort" value="22" />
    <add key="archivoPDF" value="C:\Proveedores\TFSCERPORTAL\CERPortalProveedores\Dev\WebAppMVC\PDF\" />
    <add key="archivoPDFPreliminar" value="C:\Proyectos\EL ROSADO\Proveedores\aplicativosTF\CER24112015 lite full\WebAppAdm\PDF\" />
    <add key="SFTPPath" value="/srv/ftp/sftp/Sipecom/Procesos/" />
    <add key="RutaVirtualDownload" value="/DownloadTmp/" />
    <add key="RutaFisicaDownload" value="C:\SIPECOM\Sitio\WcfEnvioCorreo\Download\" />
    <add key="RutaFisicaEnvio" value="C:\SIPECOM\Sitio\WcfEnvioCorreo\Download\" />
    <add key="Url_SitioFactManual" value="http://192.168.0.154/WebProveedores/" />
    <add key="RutaEnvioXML" value="C:\AplicacionCER\Temporales\" />
    <add key="RutaEnvioTXT" value="C:\AplicacionCER\Temporales\" />
    <add key="ValorDefault_ValidaModFact_SAP" value="S" />
    <add key="RutaImagenesArchivoPDF" value="C:\Users\mrodriguez\Desktop\Version\cvera\CER24112015 lite full\AngularJSAuthentication.API\Imagen\proveedores\" />
    <add key="CodigoPorcentaje" value="3" />
    <add key="Porcentaje" value="14" />
    <add key="CodigoPorcentaje12" value="2" />
    <add key="Porcentaje12" value="12" />
    <add key="workBAPI" value="S" />
    <add key="rutaArchivosActas" value="C:\ArchivoKiosco\\PDF\\" />
    <add key="RutaMailPedidos" value="C:\Pedidos\" />
    <add key="enviaCorreoProveedor" value="S" />
    <add key="enviaCorreoProveedor" value="fcastro@sipecom.com" />
    <add key="senderActas" value="actas@elrosado.com" />
    <add key="RutaArchivoNewUsr" value="C:\SIPECOM\Sitio\CerWebApp\DownloadedDocuments\Instructivo-Resumido-Portal-CER.pdf" />
    <add key="RutaArchivo" value="D:\TFS\BancoGuayaquil\Dev\1.2-ModContratacion\AngularJSAuthentication.API\UploadedDocuments\" />
    <add key="UrlBase" value="http://localhost:49378/ServBaseProceso.asmx" />
    <add key="protocolo" value="Tls12" />
    <add key="RutaLog" value="C:\\LogPagina\\LOGWEBSERVICE" />
    <add key="RutaLibOffice" value="D:\Users\jcastro\Downloads\LibOffice\App\libreoffice\program\soffice.exe" />

    <add key="ArchivoLog" value="C:\\LogPagina\\LOGWEBSERVICE_|yyyy|MM|dd|HH.txt" />
    <add key="Auditar" value="S" />
    <add key="LogError" value="S" />
    <add key="LogInfo" value="S" />

    <add key="PlantillaContratoProveedor" value="CONTRATO_MARCO_PROVEEDORES.docx" />
    <add key="PlantillaContratosCompra" value="CONTRATO_MARCO_ORDENES_COMPRA.docx" />

    <add key="RutaPlantillaContratos" value="C:\PUBLICACIONES\BAGU\API\PlantillaContratos\" />
    <add key="RutaContratosTmpGenerados" value="C:\PUBLICACIONES\BAGU\ContratosTmpGenerados\" />
    <add key="RutaContratosGenerados" value="C:\PUBLICACIONES\BAGU\ContratosGenerados\" />
    <add key="RutaServiciosBGApi" value="http://489205d2-b617-4bd9-b568-6bffef839e26.mock.pstmn.io" />
    <add key="Tenant" value="706d9d00-0b06-424b-9a8b-38c67ad8da6f" />
    <add key="Authority" value="https://login.microsoftonline.com/{0}/oauth2/v2.0/token" />
    <add key="TipoProducto" value="2345" />

    <add key="UrlLoginSolicitud" value="https://172.26.60.45/Account/FrmloginSol#/est" />

    <!--EtiquetasPortal-->
    <add key="UrlPortal" value="https://www.bancoguayaquil.com/" />

  

  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <globalization uiCulture="es" culture="es-EC" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <machineKey validationKey="97CABACB6647E5D3AB99778467F2E8396EE15B310FCD76DE0E469936CFB1DAAF6A58D17097FE752255916FF2121A1557A8265F731AEA4261CD4223D17D60AFFB" decryptionKey="1F2E01693637E015D4A9F85ADA15D73615B3129F1712C791" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="RoleManager" />
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServEnvio" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="ServEnvioClientSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59688/ServEnvioClient.asmx" binding="basicHttpBinding" bindingConfiguration="ServEnvioClientSoap" contract="WCFEnvioCorreo.ServEnvioClientSoap" name="ServEnvioClientSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <AngularJSAuthentication.API.Properties.Settings>
      <setting name="CerWebapi_ProcesoWs_ServBaseProceso" serializeAs="String">
        <value>http://localhost:49378/ServBaseProceso.asmx</value>
      </setting>
    </AngularJSAuthentication.API.Properties.Settings>
  </applicationSettings>
</configuration>