<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WSProcesoBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <!--Integrated Security=SSPI; (localdb)\v11.0 -->
    <!--<add name="AuthContext" connectionString="Data Source=SIPECOM36\SQLEXPRESS;Initial Catalog=SegProvMsPro;User Id=sa; Password=password" providerName="System.Data.SqlClient" />-->
    <add name="AuthContext" connectionString="Data Source=10.2.7.239;Initial Catalog=SegProvMsPro;User Id=sipecom; Password=Sipecom2015" providerName="System.Data.SqlClient" />
    <!--<add name="AuthContext" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=SegProvMs;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <add name="MenuEntities" connectionString="metadata=res://*/Models.MenuModel.csdl|res://*/Models.MenuModel.ssdl|res://*/Models.MenuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=AngularJSAuth;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="WApplicationServer" value="app1.elrosado.com" />
    <add key="WSytem" value="PRD" />
    <add key="WClient" value="400" />-->
    <add key="WApplicationServer" value="10.11.1.166" />
    <add key="WSytem" value="QAS" />
    <add key="WClient" value="400" />
    <add key="WSytemNumber" value="00" />
    <add key="WLanguaje" value="ES" />
    <add key="WUser" value="USERINTRANET" />
    <add key="UsuarioPRDPI" value="sipecom" />
    <!--<add key="ClavePRDPI" value="S1pec0m5634." />-->
    <add key="ClavePRDPI" value="S1pecom2016" />
    <add key="WPassword" value="ravia2013" />
    <!--<add key="WUser" value="SPAREDES" />
    <add key="WPassword" value="prueba" />-->
    <add key="WPoolSize" value="5" />
    <!--<add key="WGroupName" value="ROSADO"/>-->
    <add key="WGroupName" value="" />
    <add key="ServidorBD" value="10.2.7.236" />
    <add key="UsuarioBD" value="12726345CB8A36A3" />
    <add key="ClaveBD" value="3201B215F297600A6AC0D772ADB80CA7" />
    <add key="MinPool" value="0" />
    <add key="MaxPool" value="10" />
    <add key="AppBD" value="FrameWorkSeguridad" />
    <add key="BaseSeguridad" value="SIPE_FRAMEWORK.Seguridad." />
    <!--<add key="BaseSeguridad" value="SIPE_FrameWork.Seguridad." />-->
    <add key="UsuarioWS" value="52BCAFA6ACC7390FF47630D9EB5EEB16" />
    <add key="TokenWS" value="477EDA952F6C80F4F0DEB7A1A8037265FAAF139A3522A74D7BC291F9AE9BF62D" />
    <add key="IdEmpresa" value="2" />
    <add key="IdSucursal" value="0" />
    <add key="IdAplicacion" value="1" />
    <add key="IdiomaBDD" value="en-US" />
    <add key="IdAplicacionApl" value="28" />
    <add key="IdOrganizacion" value="39" />
    <add key="IdOrganizacionApl" value="39" />
    <add key="IdUsuarioApl" value="usr_apl_PortalProv" />
    <add key="IdUsrlocal" value="usr_apl_PortalProv" />
    <add key="Url_WSFramework" value="http://10.2.7.239/WSFrameWork_Express/ServicioSeguridad.asmx" />
    <add key="AppBDProveedores" value="27" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SFTPServerUsername" value="sftpuser" />
    <add key="SFTPServerPassword" value="3lr0s4d02016." />
    <add key="SFTPServerIP" value="10.11.7.48" />
    <add key="SFTPServerPort" value="22" />
    <add key="archivoPDF" value="C:\Proyectos\EL ROSADO\Proveedores\aplicativosTF\CER24112015 lite full\WebAppMVC\PDF\" />
    <add key="archivoPDFPreliminar" value="C:\Proyectos\EL ROSADO\Proveedores\aplicativosTF\CER24112015 lite full\WebAppAdm\PDF\" />
    <add key="SFTPPath" value="/Contabilidad/Kiosco/" />
    <add key="RutaVirtualDownload" value="/DownloadTmp/" />
    <add key="RutaFisicaDownload" value="C:\Proyectos\EL ROSADO\Proveedores\aplicativosTF\CER24112015 lite full\WebAppMVC\DownloadTmp\" />
    <add key="Url_SitioFactManual" value="http://192.168.0.154/WebProveedores/" />
    <add key="RutaEnvioXML" value="C:\AplicacionCER\Temporales\" />
    <add key="RutaEnvioTXT" value="C:\AplicacionCER\Temporales\" />
    <add key="ValorDefault_ValidaModFact_SAP" value="S" />
    <add key="RutaLog" value="C:\\LogPagina\\LOGWEBSERVICE" />
    <add key="RutaLogCross" value="C:\\LogPagina\\LOGCROSS" />
    <add key="RutaLogCitas" value="C:\\LogPagina\\LOGCITAS" />
    <add key="rutaDestino" value="C:\LogPagina\\PDF\\" />
    <add key="RutaImagenesArchivoPDF" value="C:\Proyectos\EL ROSADO\Proveedores\aplicativosTF\CER24112015 lite full\AngularJSAuthentication.API\Imagen\proveedores\" />
    <add key="workBAPI" value="N" />
    <add key="RutaMailPedidos" value="C:\Pedidos\" />
    <add key="enviaCorreoProveedor" value="S" />
    <add key="enviaCorreoProveedor" value="fcastro@sipecom.com" />
    <add key="RutaArchivoPDF" value="D:\TFS\BancoGuayaquil\Dev\1.4-MatriculacionIntegracion\AngularJSAuthentication.API\UploadedDocuments\" />

    <!--
   Power BI
    -->
    <add key="AuthenticationType" value="MasterUser" />
    <add key="authorityUrl" value="https://login.microsoftonline.com/common/" />
    <add key="resourceUrl" value="https://analysis.windows.net/powerbi/api" />
    <add key="apiUrl" value="https://api.powerbi.com/" />
    <add key="embedUrlBase" value="https://app.powerbi.com/" />
    
    
  </appSettings>
  <applicationSettings>
    <WSProcesoBase.Properties.Settings>
      <setting name="WSProcesoBase_correo_ServEnvioClient" serializeAs="String">
        <value>http://localhost:59688/ServEnvioClient.asmx</value>
      </setting>
      <setting name="WSProcesoBase_Sap_EnvioPedidoCross_SI_CrossDockDistr_OUT_SYNCService" serializeAs="String">
        <value>http://piprd.elrosado.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_PORTAL_PROVEEDORES_PIP&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CrossDockDistr_OUT_SYNC&amp;interfaceNamespace=urn%3Aelrosado.com%3Asipecom%3Apedidos%3ACrossDockDistr</value>
      </setting>
      <setting name="WSProcesoBase_WS_SolicitudCitasCER_SI_SolicitudCita_OUT_SYNCService" serializeAs="String">
        <value>http://piprd.elrosado.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_PORTAL_PROVEEDORES_PIP&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SolicitudCita_OUT_SYNC&amp;interfaceNamespace=urn%3Aelrosado.com%3Asipecom%3Apedidos%3ASolicitudCita</value>
      </setting>
      <setting name="WSProcesoBase_WSNuoBuscarHorarios_WS_CITAS_SIPECOM" serializeAs="String">
        <value>http://proveedorarp.elrosado.com/WS_CITA_PROVEEDORES/WS_CITAS_SIPECOM.asmx</value>
      </setting>
      <setting name="WSProcesoBase_wsReporteStock_SI_ConsultarStock_OUT_SYNCService" serializeAs="String">
        <value>http://piprd.elrosado.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_PORTAL_PROVEEDORES_PIP&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ConsultarStock_OUT_SYNC&amp;interfaceNamespace=urn%3Aelrosado.com%3Asipecom%3Apedidos%3AConsultarStock</value>
      </setting>
    </WSProcesoBase.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>