<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <appSettings>
    <add key="RutaArchivoNewUsr" value="C:\Sipecom\ServiciosWindows\ServicioCreaUsuario\pdf\Bienvenida Portal Proveedores.pdf"/>

    <add key="INTERVALO_MINUTO" value="100"/>

    <add key="IdAplicacion" value="1" />
    <add key="IdiomaBDD" value="en-US" />
    <add key="IdAplicacionApl" value="28" />
    <add key="IdUsuarioApl" value="usr_apl_PortalProv" />
    <add key="IdUsrlocal" value="usr_apl_PortalProv" />
    <add key="UrlBase" value="http://localhost:49378/ServBaseProceso.asmx" />
    <add key="IdServidorEjecutaSQL" value="27" />
    <add key="IdEmpresa" value="2"/>
    <add key="IdSucursal" value="0"/>
    
    <!--Datos de LOG-->
    <add key="ArchivoLog" value="C:\\Sipecom\\ServiciosWindows\\ServicioCreaUsuario\\Logs\\Crea_Usuario_Log_|yyyy-|MM-|dd-_|HH.txt"/>
    <add key="Auditar" value="S"/>
    <add key="LogError" value="S"/>
    <add key="LogInfo" value="S"/>

    <add key="ConsultaxRuc" value="S"/>
    <add key="ListaRuc" value="0992316861001"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServEnvio" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="ServEnvioClientSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59688/ServEnvioClient.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServEnvioClientSoap"
        contract="WCFEnvioCorreo.ServEnvioClientSoap" name="ServEnvioClientSoap" />
    </client>
  </system.serviceModel>


</configuration>
