<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DefaultContext" connectionString="data source=10.2.7.239;initial catalog=SipecomDB;User=sipecom;PASSWORD=Sipecom2015;MultipleActiveResultSets=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
