<!DOCTYPE html>

<html lang="en" data-ng-app="AngularAuthApp">

<head>
    <script src="~/Scripts/cssrefresh.js"></script>
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Portal Administrativo</title>

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.css" />
    <link href="~/assets/css/angular-busy.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>

<body class="login-layout" style="overflow-x: hidden !important">
    <div class="main-container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                @RenderBody()
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/assets/js/jquery.js'>" + "<" + "/script>");
    </script>

    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/assets/js/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });
    </script>

    <script src="~/Scripts/jquery/jquery-2.1.4.js"></script>
    <script src="~/Scripts/general/bootstrap.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/Scripts/general/jquery.validate.js"></script>
    <script src="~/Scripts/general/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/general/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/general/respond.js"></script>
    <script src="~/Scripts/general/jquery.plugin.js"></script>
    <script src="~/Scripts/general/jquery.keypad.js"></script>

    <!-- page specific plugin scripts -->
    <script src="~/assets/js/jquery.mobile.custom.js"></script>
    <script src="~/assets/js/ace-extra.js"></script>

    <!-- Seccion Angular -->
    <script src="~/Scripts/general/angular.min.js"></script>
    <script src="~/Scripts/General/angular.js"></script>
    <script src="~/Scripts/general/angular-messages.min.js"></script>
    <script src="~/Scripts/general/angular-route.min.js"></script>
    <script src="~/Scripts/Particulares/angular-local-storage.min.js"></script>
    <script src="~/Scripts/general/angular-cookies.min.js"></script>
    <script src="~/Scripts/general/angular-file-upload.js"></script>
    <script src="~/Scripts/general/angular-sanitize.js"></script>
    <script src="~/Scripts/General/angular-busy.js"></script>
    <script src="~/assets/js/jqGrid/jquery.jqGrid.src.js"></script>
    <script src="~/assets/js/jqGrid/JQGridDirective.js"></script>
    <script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/Particulares/loading-bar.min.js"></script>

    <!-- MultiSelect (respetar que angular va primero) -->
    <script src="~/Scripts/Particulares/lodash.min.js"></script>
    <script src="~/Scripts/Particulares/highlight.min.js"></script>
    <script src="~/Scripts/Particulares/angular-highlightjs.js"></script>

    <!-- Load app main script -->
    <script src="~/Scripts/Particulares/angularjs-dropdown-multiselect.js"></script>
    <script src="~/Scripts/Seguridad/app.js?v=20160413"></script>

    <!-- Load services -->
    <script src="~/scripts/seguridad/services/authInterceptorService.js?v=20160413"></script>
    <script src="~/scripts/seguridad/services/authService.js?v=20160413"></script>
    <script src="~/scripts/seguridad/services/ordersService.js?v=20160413"></script>
    <script src="~/scripts/seguridad/services/tokensManagerService.js?v=20160413"></script>
    <script src="~/Scripts/Seguridad/frmBandejaUsrAdminController.js?v=20160413"></script>
    <script src="~/Scripts/Seguridad/SeguridadService.js?v=20160413"></script>

    <!-- Load controllers -->
    <script src="~/scripts/seguridad/controllers/indexController.js?v=20160413"></script>
    <script src="~/scripts/seguridad/controllers/homeController.js?v=20160413"></script>
    <script src="~/Scripts/Seguridad/controllers/loginController.js?v=20160413"></script>
    <script src="~/scripts/seguridad/controllers/signupController.js?v=20160413"></script>
    <script src="~/scripts/seguridad/controllers/ordersController.js?v=20160413"></script>
    <script src="~/scripts/seguridad/controllers/refreshController.js?v=20160413"></script>
    <script src="~/scripts/seguridad/controllers/tokensManagerController.js?v=20160413"></script>
    <script src="~/Scripts/Catalogo/Services.js"></script>
    <script src="~/Scripts/Catalogo/Controller.js"></script>
    <script src="~/Scripts/Menu/toastr.js"></script>
    <script src="~/Scripts/Menu/config.exceptionHandler.js"></script>
    <script src="~/Scripts/Menu/config.js?v=20160413"></script>
    <script src="~/Scripts/Menu/config.route.js"></script>
    <script src="~/Scripts/Menu/shell.js"></script>

    <!-- app Services -->
    <script src="~/Scripts/Menu/common.js"></script>
    <script src="~/Scripts/Menu/logger.js"></script>
    <script src="~/Scripts/Menu/dataservice.js"></script>
    <script src="~/Scripts/Menu/routemediator.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/calendar.js"></script>
    <script src="~/assets/js/fullcalendar.min.js"></script>
    <script src="~/assets/js/gcal.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>







