@{
    ViewBag.Title = "Bandeja de Consulta Proveedores";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}
<div class="breadcrumbs" id="breadcrumbs" style="top:0px; padding: 0 0 0 0">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>&nbsp;<a href="~/Home/Index">Inicio</a>
        </li>
        <li>
            <i class="ace-icon fa fa-truck"></i>&nbsp;<a href="~/Home/Index">Logística</a>
        </li>
        <li>
            <i class="ace-icon glyphicon glyphicon-refresh"></i>&nbsp;<a href="frmConsActasAdmin">Actualización de Actas</a>
        </li>
        @*<li class="active">Profile 1</li>*@
    </ul><!-- /.breadcrumb -->
    <!-- #section:basics/content.searchbox -->    <!-- /section:basics/content.searchbox -->
</div>
<body ng-controller="frmConsultaActasAdmController ">
    @*<div style="height:100%;">*@
    <div style="height:100%; ">
        <div class="ace-settings-container" id="ace-settings-container">

            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                <i class="  glyphicon glyphicon-search "></i>
            </div>

            <div class="ace-settings-box clearfix open" id="ace-settings-box">
                <div class="container container-fluid" style="padding:0 0 0 0">
                    <div class="row">
                        <div class="col-md-3" style="text-align: right;">
                            <button type="button" id="btnConsulta1" class="btn btn-sm btn-round"
                                    style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important;"
                                    create-pages results="resDgConsulta" number-per-page="30" pages="pagesCo"
                                    page-content="pageContentCo;" page-limit="9000" binding="blur"
                                    ng-click="Consultar(); showPaginate=true;">
                                <i class="glyphicon glyphicon-search"></i>
                                Consultar
                            </button>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-4 titulos">
                                <span class="lbl" style="font-family:Arial;font-size:12px;font-weight:bold" >Fechas</span>
                            </div>
                        </div>
                        <div class="row" ng-hide="true">
                            <div class="col-md-2 ">
                                <label>
                                    <input type="radio" name="FiltrosGrupo1" class="ace form-control" id="rbtPorRango" ng-model="pOpcGrp1" value="R" />
                                    <span class="lbl">Rango de Fecha</span>
                                </label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-1 ">
                                <label>
                                    <span class="lbl">Desde:</span>
                                </label>
                            </div>
                            <div class="col-md-2 ">
                                <div class="input-group">

                                    @*<input type="date" id="txtFechaIni" ng-model="pFechaIni" maxlength="10" placeholder="Fecha Inicial" class="form-control" style="width:90%" />*@
                                    <input class="form-control date-picker input-mask-date" id="txtFechaIni" type="text" ng-model="pFechaIni" maxlength="10" placeholder="Fecha Inicial" data-date-format="dd/mm/yyyy" />
                                    <span class=" input-group-addon">
                                        <i class="fa fa-calendar small-1"></i>
                                    </span>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-1 ">
                                <label>
                                    <span class="lbl">Hasta:</span>
                                </label>
                            </div>
                            <div class="col-md-2 ">
                                <div class="input-group">

                                    @*<input type="date" id="txtFechaIni" ng-model="pFechaIni" maxlength="10" placeholder="Fecha Inicial" class="form-control" style="width:90%" />*@
                                    <input class="form-control date-picker input-mask-date" id="txtFechaFin" type="text" ng-model="pFechaFin" maxlength="10" placeholder="Fecha Final" data-date-format="dd/mm/yyyy" />
                                    <span class=" input-group-addon">
                                        <i class="fa fa-calendar small-1"></i>
                                    </span>
                                </div>
                                @*<input type="date" id="txtFechaFin" ng-model="pFechaFin" maxlength="10" placeholder="Fecha Final" class="form-control" style="width:90%" />*@
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 titulos">
                                <span class="lbl" style="font-family:Arial;font-size:12px;font-weight:bold"  >Parámetros</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 ">
                                <label>
                                    <input type="radio" name="FiltrosGrupo1" class="ace form-control" id="rbtPorRango" ng-model="pOpcGrp1" value="P" />
                                    <span class="lbl">Datos</span>
                                </label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    <span class="lbl">Número Orden:</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" id="txtsap" class="form-control" ng-model="txtorden" placeholder="Número Orden" style=" width: 100%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    <span class="lbl">Factura:</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" id="txtusuario" class="form-control" ng-model="txtfactura" placeholder="Número Factura" style=" width: 100%" />
                            </div>
                        </div>

                       


                        <div class="row">
                            <div class="col-md-4 titulos">
                                <span class="lbl" style="font-family:Arial;font-size:12px;font-weight:bold">Proveedor</span>
                            </div>
                        </div>                      
                        <div class="row">
                            <div class="col-md-3">

                                <label>
                                    <input type="radio" class="ace" ng-model="rdbProv" name="PorCodigo" value="2" id="rbtCodPro" checked="checked" />
                                    <span class="lbl">Código:</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" name="Codigo" id="txtCodigo" ng-model="txtCodigo" placeholder="Código Proveedor" style=" width: 100%; " maxlength="13" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 titulos">
                                <span class="lbl">Estado</span>
                            </div>
                        </div>
                        <br />
                        <div class="row">

                            <div class="col-md-1">
                                <label>
                                    <span class="lbl">Estado:</span>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    <select class="chosen-select form-control" id="cmbestado" ng-model="cmbestado"
                                            ng-options="item as item.detalle for item in cmbestadoActas"></select>
                                </label>
                            </div>

                        </div>
                        &nbsp;
                    </div>
                </div>

            </div>
        </div>
     </div>
      

     <div cg-busy="{promise:myPromise,message:message,backdrop:true}">
            
            <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="smaller" style="text-align:right;">
                            <button ng-hide="etiTotRegistros=='' || etiTotRegistros=='0' || true " type="button" class="btn btn-sm btn-round" style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important"
                                    id="btnEnviar" ng-click="ConfirmarEnviar();">
                                <i class="glyphicon glyphicon-send "></i>
                                Enviar
                            </button>
                        </h4>
                    </div>
               </div>
            <div style="height:100%;">
                <div class="widget-box">
                    <div class="widget-header" style="text-align:center;text-wrap:none;">
                        <h4 class="widget-title">ACTUALIZACIÓN DE ACTAS DE ENTREGA/RECEPCIÓN</h4>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <font ng-hide="etiTotRegistros=='' || etiTotRegistros=='0' " class="widget-toolbar"> Total: {{etiTotRegistros}} Registros </font>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            @*Session Botones*@
                            @*<div class="widget-box">
                    <div class="widget-header">
                        <div class="row">
                            <div class=" col-md-12 ">
                                <h4 class="smaller" style="text-align:right;">
                                    <button type="button" class="btn btn-sm btn-round" style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important" ng-click="exportar(1)">
                                        <i class="fa fa-file-excel-o "></i>
                                        Exportar XLS
                                    </button>
                                    <button type="button" class="btn btn-sm btn-round" style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important" ng-click="exportar(2)">
                                        <i class="fa fa-file-pdf-o"></i>
                                        Exporta PDF
                                    </button>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>*@
                            @*Fin Session Botones*@
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div ng-controller="PaginationController">
                                        <div ng-show="true">
                                            <div id="no-more-tables">
                                                <table class="table table-striped table-bordered table-condensed table-hover gridStyle">
                                                    <thead>
                                                        <tr>
                                                            <th class="grid-header uppercase info" style="font-size:11px;text-align:center">
                                                                <a href="#" ng-click="sortType = 'nomComercial'; sortReverse = !sortReverse">
                                                                    Proveedor
                                                                    <span ng-show="sortType == 'nomComercial' && !sortReverse" class="fa fa-caret-down"></span>
                                                                    <span ng-show="sortType == 'nomComercial' && sortReverse" class="fa fa-caret-up"></span>
                                                                </a>
                                                            </th>
                                                            <th class="grid-header uppercase info" style="font-size:11px;text-align:center">
                                                                <a href="#" ng-click="sortType = 'noOrden'; sortReverse = !sortReverse">
                                                                    Número Orden
                                                                    <span ng-show="sortType == 'noOrden' && !sortReverse" class="fa fa-caret-down"></span>
                                                                    <span ng-show="sortType == 'noOrden' && sortReverse" class="fa fa-caret-up"></span>
                                                                </a>
                                                            </th>
                                                            <th class="grid-header uppercase info" style="font-size:11px;text-align:center">
                                                                <a href="#" ng-click="sortType = 'noFactura'; sortReverse = !sortReverse">
                                                                    Número Factura
                                                                    <span ng-show="sortType == 'noFactura' && !sortReverse" class="fa fa-caret-down"></span>
                                                                    <span ng-show="sortType == 'noFactura' && sortReverse" class="fa fa-caret-up"></span>
                                                                </a>
                                                            </th>
                                                            <th class="grid-header uppercase info" style="font-size:11px;text-align:center">
                                                                <a href="#" ng-click="sortType = 'almacen'; sortReverse = !sortReverse">
                                                                    Almacén
                                                                    <span ng-show="sortType == 'almacen' && !sortReverse" class="fa fa-caret-down"></span>
                                                                    <span ng-show="sortType == 'almacen' && sortReverse" class="fa fa-caret-up"></span>
                                                                </a>
                                                            </th>
                                                            <th class="grid-header uppercase info" style="font-size:11px;text-align:center">
                                                                <a href="#" ng-click="sortType = 'ciudad'; sortReverse = !sortReverse">
                                                                    Ciudad
                                                                    <span ng-show="sortType == 'ciudad' && !sortReverse" class="fa fa-caret-down"></span>
                                                                    <span ng-show="sortType == 'ciudad' && sortReverse" class="fa fa-caret-up"></span>
                                                                </a>
                                                            </th>
                                                            <th class="grid-header uppercase info" style="font-size:11px;text-align:center">
                                                                <a href="#" ng-click="sortType = 'anio'; sortReverse = !sortReverse">
                                                                    Año
                                                                    <span ng-show="sortType == 'anio' && !sortReverse" class="fa fa-caret-down"></span>
                                                                    <span ng-show="sortType == 'anio' && sortReverse" class="fa fa-caret-up"></span>
                                                                </a>
                                                            </th>
                                                            <th class="grid-header uppercase info" style="font-size:11px;text-align:center">
                                                                <a href="#" ng-click="sortType = 'mes'; sortReverse = !sortReverse">
                                                                    Mes
                                                                    <span ng-show="sortType == 'mes' && !sortReverse" class="fa fa-caret-down"></span>
                                                                    <span ng-show="sortType == 'mes' && sortReverse" class="fa fa-caret-up"></span>
                                                                </a>
                                                            </th>
                                                            <th class="grid-header uppercase info" style="font-size:11px;text-align:center">
                                                                <a href="#" ng-click="sortType = 'dia'; sortReverse = !sortReverse">
                                                                    Día
                                                                    <span ng-show="sortType == 'dia' && !sortReverse" class="fa fa-caret-down"></span>
                                                                    <span ng-show="sortType == 'dia' && sortReverse" class="fa fa-caret-up"></span>
                                                                </a>
                                                            </th>
                                                            <th class="grid-header uppercase info" style="font-size:11px;text-align:center">
                                                                <a href="#" ng-click="sortType = 'archivo'; sortReverse = !sortReverse">
                                                                    Nombre de Archivo
                                                                    <span ng-show="sortType == 'archivo' && !sortReverse" class="fa fa-caret-down"></span>
                                                                    <span ng-show="sortType == 'archivo' && sortReverse" class="fa fa-caret-up"></span>
                                                                </a>
                                                            </th>
                                                            <th class="grid-header uppercase info" style="font-size:11px;text-align:center">
                                                                <a href="#" ng-click="sortType = 'estado'; sortReverse = !sortReverse">
                                                                    Estado
                                                                    <span ng-show="sortType == 'estado' && !sortReverse" class="fa fa-caret-down"></span>
                                                                    <span ng-show="sortType == 'estado' && sortReverse" class="fa fa-caret-up"></span>
                                                                </a>
                                                            </th>
                                                            <th class="grid-header uppercase info" style="font-size:11px;text-align:center">
                                                                <a href="#" >
                                                                    Activar/Anular
                                                                  
                                                                </a>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="content in pageContentCo  | orderBy:sortTypeCon:sortReverse">
                                                            <td class="filaizquierda"  data-title="PROVEEDOR">{{content.nomComercial}}</td>
                                                            <td class="filacentro" data-title="N° ORDEN">{{content.noOrden}}</td>
                                                            <td class="filacentro" data-title="N° FACTURA">{{content.noFactura}}</td>
                                                            <td class="filaizquierda" data-title="ALMACEN">{{content.almacen}}</td>
                                                            <td class="filaizquierda" data-title="CIUDAD">{{content.ciudad}}</td>
                                                            <td class="filacentro" data-title="AÑO">{{content.anio}}</td>
                                                            <td class="filacentro" data-title="MES">{{content.mes}}</td>
                                                            <td class="filacentro" data-title="DIA">{{content.dia}}</td>
                                                            <td class="filacentro" data-title="ARCHIVO"><a href="#" ng-click="descargaArchivo(content)">{{content.archivo}}</a></td>
                                                            <td class="filaizquierda" data-title="CIUDAD">{{content.desEstado}}</td>
                                                            <td style="font-size:11px;text-align:center">
                                                                <a id="btnEliminar" ng-show="content.estado=='X'" class="btn btn-danger btn-xs" ng-click="eliminarClickUsuario(content,'A');" data-toggle="tooltip" data-placement="bottom" title="Activar Acta" style="border-width: 1px;padding: 0 5px;"><i class="glyphicon glyphicon-repeat"></i></a>
                                                                <a id="btnActivar" ng-show="content.estado=='A'" class="btn btn-danger btn-xs" ng-click="eliminarClickUsuario(content,'X');" data-toggle="tooltip" data-placement="bottom" title="Anular Acta" style="border-width: 1px;padding: 0 5px;"><i class="glyphicon glyphicon-minus-sign"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <ul style="position: relative;" class="pagination" ng-hide="pagesCo.length==0">

                                                <li pagination ng-class="[{active: page == getCurrentPage()}, {disabled: isFirstPage()} ]  " page="1">
                                                    <a><div class="glyphicon glyphicon-fast-backward"></div></a>
                                                </li>
                                                <li ng-class="{disabled: isFirstPage()}" pagination-left><a><div class="glyphicon glyphicon-backward"></div></a></li>
                                                <li>
                                                    <a> {{getCurrentPage()}} </a> <a>de</a> <a> {{pagesCo.length}}</a>
                                                </li>
                                                <li ng-class="{disabled: isLastPage()}" pagination-right><a><div class="glyphicon glyphicon-forward"></div></a></li>
                                                <li pagination ng-class="[{active: page == getCurrentPage()}, {disabled: isLastPage()} ]  " page="{{pagesCo.length}}">
                                                    <a><div class="glyphicon glyphicon-fast-forward"></div></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                    
                </div>
             
             @*Session Modal Lista de Proveedores*@
             <div class="modal fade" data-backdrop="static" data-keyboard="false" id="usuariosEnvia" tabindex="-1" role="dialog" aria-hidden="true" style="z-index:98;height:100%; width:100%; ">

                 <div class="modal-dialog" style="height:100%; width:60%;  top:20%; ">

                     <div class="modal-content">

                         <div class="modal-body" style="max-height: 100%; overflow-y: auto;">




                             <div class=" widget-box">



                                 <div class="widget-header" style="text-align:center">
                                     <h4 class="widget-title">Listado de Usuarios</h4>
                                     <div class="widget-toolbar">
                                         <a href="#" data-action="collapse">
                                             <i class="ace-icon fa fa-chevron-up"></i>
                                         </a>
                                     </div>
                                 </div>

                                 <div class="widget-body">
                                     <div class="widget-main">


                                         <div class="widget-body">


                                             <div ng-controller="PaginationController">
                                                 <div style=" height: 250px !important;overflow: scroll;">
                                                     <div id=" no-more-tables">
                                                         <table class="table table-striped table-bordered table-condensed table-hover gridStyle">
                                                             <thead>
                                                                 <tr>
                                                                     <th class="grid-header uppercase info" st-sort="ident">
                                                                         <a href="#" ng-click="sortType = 'ident'; sortReverse = !sortReverse">
                                                                             Identificación
                                                                             <span ng-show="sortType == 'ident' && !sortReverse" class="fa fa-caret-down"></span>
                                                                             <span ng-show="sortType == 'ident' && sortReverse" class="fa fa-caret-up"></span>
                                                                         </a>
                                                                     </th>
                                                                     <th class="grid-header uppercase info" st-sort="representante">
                                                                         <a href="#" ng-click="sortType = 'representante'; sortReverse = !sortReverse">
                                                                             Nombres
                                                                             <span ng-show="sortType == 'representante' && !sortReverse" class="fa fa-caret-down"></span>
                                                                             <span ng-show="sortType == 'representante' && sortReverse" class="fa fa-caret-up"></span>
                                                                         </a>
                                                                     </th>
                                                                     <th class="grid-header uppercase info" st-sort="razonSocial">
                                                                         <a href="#" ng-click="sortType = 'razonSocial'; sortReverse = !sortReverse">
                                                                             Correo
                                                                             <span ng-show="sortType == 'razonSocial' && !sortReverse" class="fa fa-caret-down"></span>
                                                                             <span ng-show="sortType == 'razonSocial' && sortReverse" class="fa fa-caret-up"></span>
                                                                         </a>
                                                                     </th>
                                                                     <th class="grid-header uppercase info" st-sort="usuario">
                                                                         <a href="#" ng-click="sortType = 'usuario'; sortReverse = !sortReverse">
                                                                             Usuario
                                                                             <span ng-show="sortType == 'usuario' && !sortReverse" class="fa fa-caret-down"></span>
                                                                             <span ng-show="sortType == 'usuario' && sortReverse" class="fa fa-caret-up"></span>
                                                                         </a>
                                                                     </th>
                                                                     <th class="grid-header uppercase info" st-sort="contacto">
                                                                         <a href="#" ng-click="sortType = 'contacto'; sortReverse = !sortReverse">
                                                                             Contacto
                                                                             <span ng-show="sortType == 'contacto' && !sortReverse" class="fa fa-caret-down"></span>
                                                                             <span ng-show="sortType == 'contacto' && sortReverse" class="fa fa-caret-up"></span>
                                                                         </a>
                                                                     </th>
                                                                     <th class="grid-header uppercase info" st-sort="Seleccionar">


                                                                         <input type="checkbox" id="selUsr" ng-model="allChecks" ng-click="marcaChecks(allChecks)" />

                                                                     </th>
                                                                 </tr>
                                                             </thead>
                                                             <tbody>
                                                                 <tr ng-repeat="content2 in resDgUsrsEnviar">
                                                                     <td class="filaizquierda" data-title="Nombres">{{content2.identificacion}}</td>
                                                                     <td class="filaizquierda" data-title="Nombres">{{content2.nombres}}</td>
                                                                     <td class="filaizquierda" data-title="Correo">{{content2.correoEnviar}}</td>
                                                                     <td style="font-size:11px; text-align:center;" data-title="Usuario"><a class="red" href="#" ng-show="content2.isUser "><i class="ace-icon glyphicon glyphicon-ok bigger-130"></i></a></td>
                                                                     <td style="font-size:11px; text-align:center;" data-title="Contacto"><a class="red" href="#" ng-show="content2.isContacto"><i class="ace-icon glyphicon glyphicon-ok bigger-130"></i></a></td>
                                                                     <td class="filacentro" data-title="SELECCIONAR">
                                                                         <input type="checkbox" ng-disabled="isLectura" ng-model="content2.isCheck" />



                                                                     </td>
                                                                 </tr>
                                                             </tbody>
                                                         </table>
                                                     </div>


                                                 </div>
                                             </div>

                                         </div>

                                     </div>
                                 </div>

                             </div>



                         </div>
                         <div class="modal-footer" style="text-align:right">
                             <button style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34) !important" type="button" class="btn btn-sm btn-round" data-dismiss="modal" aria-hidden="true">
                                 <i class="glyphicon glyphicon-floppy-remove"></i>
                                 Cancelar
                             </button>
                             <button style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34) !important" type="button" ng-click="enviarActas()" class="btn btn-sm btn-round" aria-hidden="true">
                                 <i class="glyphicon glyphicon-check"></i>
                                 Aceptar
                             </button>


                         </div>
                     </div>
                 </div>
             </div>
             @*Fin Session Modal Lista de Proveedores*@
             
             @Html.Partial("_mensajeError")
             @Html.Partial("_mensajeInformativo")
             @Html.Partial("_mensajeOK")
             @Html.Partial("_mensajeConfirmacion")
         </div>

</body>

@section scripts{
    <script src="~/assets/js/fileinput.js"></script>
    <script src="~/assets/js/fileinput.min.js"></script>
    <script src="../assets/js/chosen.jquery.js"></script>
    <script src="~/Scripts/General/FileSaver.min.js"></script>
    <script src="~/Scripts/General/FileSaver.min.js"></script>
    <script src="~/Scripts/datetimepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //esto funciona bien, pero se ha elegido otro datepicker
            //$("#txtFecha").datepicker("option", "dateFormat", 'dd-mm-yyyy');
            //$("#txtFechaIni").datepicker("option", "dateFormat", 'dd-mm-yyyy');
            //$("#txtFechaFin").datepicker("option", "dateFormat", 'dd-mm-yyyy');

        });
        $('.date-picker').datepicker({
            minDate: new Date(1999, 10 - 1, 25),
            maxDate: '+30Y',
            autoclose: true,
            todayHighlight: true
        })
                //show datepicker when clicking on the icon
                .next().on(ace.click_event, function () {
                    $(this).prev().focus();
                });
        $('.input-mask-date').mask('99/99/9999');

        //webshims.setOptions('waitReady', false);
        //webshims.setOptions('forms-ext', { types: 'date' });
        //webshims.polyfill('forms forms-ext');
        //$.webshims.formcfg = {
        //    en: {
        //        dFormat: '/',
        //        dateSigns: '/',
        //        patterns: {
        //            d: "dd/mm/yy"
        //        }
        //    }
        //};

        //$.webshims.activeLang('en');


    </script>
}






