
@{
    Layout = "~/Views/Shared/_LayoutPrivado.cshtml";
    // ViewBag.Title = "frmIngresoProveedor";

    ViewBag.Title = "Ingreso de Nuevos Proveedores";
}
<body data-ng-controller="aloginIngresoSolicitudController">
    <form name="Ingreso">

        <div class="main-container" id="main-container">

            <div class="row">
                <div class="col-md-2">
                </div>

                <div class="col-md-8">
                    <!-- #section:elements.accordion -->
                    <div class="panel-collapse collapse in" id="collapseOne">

                        @*<div class="panel-body" ng-controller="loginIngresoSolicitudController">*@
                        <div class="panel-body">

                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="smaller center">
                                        Ingreso de Nuevo Proveedor
                                        <!--<small>different directions and colors</small>-->
                                    </h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">

                                            <label class="col-md-3 control-label no-padding-right" for="form-field-1"> Tipo Identificación </label>

                                            <div class="col-md-2">
                                                <!--<input type="text" id="form-field-1" placeholder="Username" class="col-xs-5 col-md-5" />-->
                                                <select name="seletipoidentificacion" class="form-control" id="form-field-select-3" data-placeholder="Seleccione un Tipo Identificación.." data-ng-model="loginIngreso.tipoidentificacion" ng-options="item as item.detalle for item in TipoIdentificacion" ng-required="true"
                                                        required data-ng-class='{ error: Ingreso.seletipoidentificacion.$invalid && !Ingreso.$pristine }'>
                                                    <option value=""></option>

                                                </select>
                                                <p3><span data-ng-show="!Ingreso.$pristine && Ingreso.seletipoidentificacion.$error.required" class="red darken-2 center-align white-text">Tipo de Identificacion es requerido.</span></p3>

                                            </div>

                                            <label class="col-md-2 control-label no-padding-right" for="form-field-1"> Identificación </label>

                                            <div class="col-md-3">
                                                <input name="identificacion" type="text" id="form-field-1" placeholder="Identificación" maxlength="13" onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" ng-pattern="/^\d+$/" class="form-control" data-ng-model="loginIngreso.identificacion" required
                                                       minlength="10" data-ng-class='{ error: Ingreso.identificacion.$invalid && !identificacion.$pristine }' />
                                                <p3><span data-ng-show="!Ingreso.$pristine && Ingreso.identificacion.$error.required" class="red darken-2 center-align white-text">La Identificacion es requerido.</span></p3>
                                                <span ng-if="Ingreso.identificacion.$error.minlength && Ingreso.identificacion.$touched" class="red darken-2 center-align white-text">La Identificacion es muy pequeña</span>



                                            </div>
                                            <div class="col-md-2">
                                                @*<button type="submit" class="btn btn-sm btn-primary " ng-click="getProveedorList()">
                                                        Continuar
                                                        <a href="#modal-form" role="button" class="ace-icon fa fa-check white" data-toggle="modal"> Continuar </a> data-ng-disabled='!Ingreso.$valid'
                                                    </button>*@

                                                <button type="submit" class="btn btn-sm btn-round" style="background-color:darkred!important;border-color:darkred !important" id="btnConsulta" ng-click="getProveedorList()" data-ng-disabled='!Ingreso.$valid'>
                                                    <i class="glyphicon glyphicon-cog "></i>
                                                    Continuar
                                                </button>

                                            </div>


                                        </div>


                                    </div>
                                    @*<div class="col-xs-12">
                                            <div data-ng-hide="message == ''" class="alert alert-danger">
                                                {{message}}
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>

            </div>
        </div>

        @*Session Mensaje Error*@
        @*<div class="modal fade" data-backdrop="static" data-keyboard="false" id="idMensajeError" tabindex="-1" role="dialog" aria-hidden="true" style="height:100%; width:100%;">
            <div class="modal-dialog" style="height:80%; width:30%;">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center;">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="bigger">
                                    Mensaje Informativo
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" style="max-height: 30%; overflow-y: auto;">
                        <div class="panel-body">
                            <div id="MensajeError" class="alert alert-danger">
                                <strong>
                                    <i class="ace-icon fa fa-times"></i>
                                    <label>
                                        <span class="lbl">{{message}}</span>
                                    </label>
                                </strong>
                                <br />
                            </div>
                            <div style="text-align:center;">
                                <button type="button" class="btn btn-sm btn-round" style="background-color:darkred!important;border-color:darkred !important" data-dismiss="modal" id="btnConsulta">
                                    <i class="ace-icon fa fa-check"></i>
                                    Aceptar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="height:10px">

                    </div>
                </div>
            </div>
        </div>*@
        @*Fin Session Mensaje Error*@
    </form>
</body>

@section scripts{
    <script src="~/assets/js/fileinput.js"></script>
    <script src="~/assets/js/fileinput.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#file-3").fileinput({
                showCaption: false,
                browseClass: "btn btn-sm btn-round",
                fileType: "any"
            });
        });

    </script>
}
