   
@{
    ViewBag.Title = "Inicio";
}

 <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2>Login</h2>
            
             <a role="button">@Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @Style = "color:black" }) &raquo;</a> 
 
        </div>
        <div class="col-md-4">
            <h2>Sign Up</h2>
               <a role="button">@Html.ActionLink("Sign Up", "SignUp", "Account", new { area = "" }, new { @Style = "color:black" })   &raquo;</a> 
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>

 