@{
    ViewBag.Title = "Requisitos Codificación de productos";
    Layout = "~/Views/Shared/_LayoutSecundarioG.cshtml";
}



<div class="wrap">

    <section>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sd-12">

                <br />
                <br />
                <div class="" align="left" style="font-size:25px;font-weight:bold;font-family:Arial; color:rgb(237,28,36)">
                    <p><b>Guía Para Codificación De Productos</b></p>
                </div>




            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-2">

            </div>
            <div class="col-md-8 col-xs-8 col-sd-8">
                <div style="padding:3px;" align="justify" height="240" valign="top">
                    <div class="content">
                        <div id="codificacion" style=" color:#666666;  background:#eeeef2; border-top-left-radius:14px; display:table-cell; margin:10px 0 20px 0; border:1px solid #F5F5F5; border-radius:16px;-webkit-box-shadow: #ccc 15px 25px 20px; -moz-box-shadow: #ccc 15px 25px 20px; box-shadow: #ccc 15px 25px 30px;">
                            <p align="center" style="font-size:16px; padding:15px;font-family:Arial"><strong><b>REQUISITOS MINÍMOS PARA CODIFICAR UN PRODUCTO</b></strong></p>
                            <p style="margin:15px; margin-top:-15px;font-size:13px;"><b>Para la codificación de los productos se tomará en cuenta los siguientes aspectos:</b></p>
                            <br />
                            <ul style="margin:15px; margin-top:-15px;font-size:13px; ">
                                <b>a. En relación con su contenido nutricional:</b>
                            </ul>
                            <br />
                            <ul style="margin:25px; margin-top:-25px;font-size:13px;">
                                <b>1. Todos los productos, sin excepción alguna, deberán contener información clara y precisa en sus tablas nutricionales que permitan conocer sus contenidos, efectos y excepciones para el consumo, de acuerdo a las normas legales pertinentes.</b>
                            </ul>

                            <ul style="margin:15px; margin-top:-15px;font-size:13px;">
                                <b>b.- En relación con su comercialización:</b>
                            </ul>
                            <br />
                            <ul style="margin:25px; margin-top:-25px;font-size:13px;">
                                <b>1. Que su comercialización ofrezca el nivel mínimo de rentabilidad determinado por el supermercado y/o similares para la respectiva categoría;</b>
                            </ul>
                            <br />
                            <ul style="margin:25px; margin-top:-25px;font-size:13px;">
                                <b>2. Que el producto ofrezca las cualidades alimenticias legalmente permitidas para los consumidores;</b>
                            </ul>
                            <br />
                            <ul style="margin:25px; margin-top:-25px;font-size:13px;">
                                <b>3. Que pertenezca al portafolio de productos que el supermercado y/o similares tiene definido dentro de su surtido y giro;</b>
                            </ul>
                            <br />
                            <ul style="margin:25px; margin-top:-25px;font-size:13px;">
                                <b>4. Que se acredite una estructura de producción adecuada y/o importación que le permita cumplir con los niveles mínimos de entrega o abastecimiento del producto.</b>
                            </ul>
                            <ul style="margin:15px; margin-top:-15px;font-size:13px;">
                                <b>c.- En relación con exigencias legales y técnicas:</b>
                            </ul>
                            <br />
                            <ul style="margin:25px; margin-top:-25px;font-size:13px;">
                                <b>1. Cumplir con las condiciones higiénicas y sanitarias establecidas en la legislación vigente. Esto incluyendo Registro Sanitario por cada producto elaborado, que deberá encontrarse en vigente durante toda la relación de suministro;</b>
                            </ul>
                            <br />
                            <ul style="margin:25px; margin-top:-25px;font-size:13px;">
                                <b>2. Todos los productos exhibidos deberán contener en forma clara, precisa y perfectamente legible, el precio final, la fecha de expiración y otras indicaciones relevantes a la calidad del producto;</b>
                            </ul>
                            <br />
                            <ul style="margin:25px; margin-top:-25px;font-size:13px;">
                                <b>3. En cuanto a marcas, patentes y otros derechos constituidos en propiedad intelectual, los proveedores y los supermercados y/o similares deberán cumplir la normativa legal nacional e internacional aplicable;</b>
                            </ul>
                            <br />
                            <ul style="margin:25px; margin-top:-25px;font-size:13px;">
                                <b>4. En todo caso, los proveedores deberán responder por la garantía de consumo establecida en la ley;</b>
                            </ul>
                            <br />
                            <ul style="margin:25px; margin-top:-25px;font-size:13px;">
                                <b>5. Cumplir con los requisitos legales sobre embalaje y empaque de los productos; y,</b>
                            </ul>
                            <br />
                            <ul style="margin:25px; margin-top:-25px;font-size:13px;">
                                <b>6. Los efectos dañinos de los productos por una indebida conservación posterior a la entrega es responsabilidad de los supermercados y/o similares.</b>
                            </ul>

                            <ul style="margin:15px; margin-top:-15px;font-size:13px;">
                                <b>d.- En relación con exigencias de identificación:</b>
                            </ul>
                            <br />
                            <ul style="margin:25px; margin-top:-25px;font-size:13px;">
                                <b>1. Identificación de la mercancía con un solo código de barras por EAN (European Article Number), más actualizadas o su equivalente, tanto en la unidad de venta como en la de empaque.</b>
                            </ul>

                            <ul style="margin:15px; margin-top:-15px;font-size:13px;">
                                <b>Si el producto es aprobado y si se tratase de un nuevo proveedor, las partes firmarán un Contrato de Provisión de Mercaderías.</b>
                            </ul>
                            <ul style="margin:15px; margin-top:-15px;font-size:13px;">
                                <b>A medida de que se incorporen nuevos productos a proveedores existentes, se firmará un convenio modificatorio, es decir, un nuevo Anexo de productos al contrato de provisión de mercaderías existente.</b>
                            </ul>



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>


        </div>

        <br />
        <br />
        <br />
        <div class="row" style="margin:0 -28px;">
            <div class="col-md-12" border="0">
                <img src="~/Images/--negocios_r8_c1 - copia.png" style="width:100%;" height="65" border="0" id="negocios_r8_c1" alt="" />
            </div>
        </div>
        <div class="row" style="margin:0 -18px;">
            <div class="col-md-12" border="0" style="text-align:right">
                <p style="font-size:10px;color:#808080">Todos los derechos reservados Corporación El Rosado S.A @DateTime.Now.Year&copy;    </p>
            </div>
        </div>
    </section>
</div>



@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            //Slider
            $('#camera_wrap_1').camera({
                fx: 'simpleFade'
            });

        });

    </script>
    <script>
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
}