@{
    ViewBag.Title = "Requisitos Codificación / Descodificación de Proveedores";
    Layout = "~/Views/Shared/_LayoutSecundarioG.cshtml";
}



<div class="wrap" style="">

    <section>
        <div class="row">
            <br />
            <br />
            <br />
            <div class="col-md-12 col-xs-12 col-sd-12">
                <div class="" align="left" style="font-size:25px;font-weight:bold;font-family:Arial; color:rgb(237,28,36)">
                    <p><b>Guía para Codificación / Descodificación De Proveedores</b></p>
                </div>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-2">

            </div>
            <div class="col-md-8 col-xs-8 col-sd-8">
                <div style="padding:3px;" align="justify" height="240" valign="top">
                    <div class="content">


                        <div id="codificacion" style=" color:#666666;  background:#eeeef2; border-top-left-radius:14px; display:table-cell; margin:10px 0 20px 0; border:1px solid #F5F5F5; border-radius:16px;-webkit-box-shadow: #ccc 15px 25px 20px; -moz-box-shadow: #ccc 15px 25px 20px; box-shadow: #ccc 15px 25px 30px;">
                            <p align="center" style="font-size:16px; font-weight:bold; padding:25px;font-family:Arial"><strong><b>REQUISITOS M&Iacute;NIMOS PARA SER CODIFICADO COMO PROVEEDOR</b></strong></p>
                            <p style="margin:15px; margin-top:-15px;font-size:13px;"><b>Para ser considerado proveedor de CORPORACI&Oacute;N EL ROSADO, se tomará en cuenta lo siguiente:</b></p>
                            <br />
                            <ul style="margin:15px; margin-top:-15px;font-size:13px; ">
                                <b>a. Ser persona natural legalmente capaz o persona jurídica legalmente constituida o domiciliada en el país, de conformidad con la legislación vigente;<b></b>
                            </ul>
                            <br />
                            <ul style="margin:15px; margin-top:-15px;font-size:13px;">
                                <b>b. Tener Registro Único Contribuyentes;</b>
                            </ul>
                            <br />
                            <ul style="margin:15px; margin-top:-15px;font-size:13px;">
                                <b>c. Cuando el proveedor sea extranjero se cumplirá los requisitos legales pertinentes, que permitan establecer las responsabilidades administrativas, civiles o penales adecuadas de ser el caso;</b>
                            </ul>
                            <br />
                            <ul style="margin:15px; margin-top:-15px;font-size:13px;">
                                <b>d. Cuando el proveedor presente un producto que ingrese por primera vez al mercado deberá adjuntar documentos de producción que contengan información que le permita al supermercado verificar capacidad comercial, financiera, operativa, de producción y suministro, a fin de evitar delitos como el lavado de activos, etc.;</b>
                            </ul>
                            <br />
                            <ul style="margin:15px; margin-top:-15px;font-size:13px;">
                                <b>e. Estar vinculado a los sistemas tecnológicos de información que se emplean por el supermercado cuando su registro o inscripción sean requerido;</b>
                            </ul>

                            <p align="center" style="font-size:16px; padding-top:15px;font-family:Arial"><strong><b>REQUISITOS M&Iacute;NIMOS PARA SER DESCODIFICADO COMO PROVEEDOR</b></strong></p>
                            <br />
                            <p style="margin:15px; margin-top:-15px;font-size:13px;"><b>Se consideran como requisitos mínimos generales para la descodificación de un proveedor los siguientes:</p>
                            <br />
                            <ul style="margin:15px; margin-top:-15px;font-size:13px;">
                                <b>&bull; Que los productos del proveedor dejen de cumplir las normativas legales exigidas en el Art. 17 del Manual de buenas prácticas comerciales para el sector de los supermercados.</b>
                            </ul>
                            <br />
                            <ul style="margin:15px; margin-top:-15px;font-size:13px;">
                                <b>&bull; Que el proveedor incumpla las obligaciones expresamente señaladas en el Art.5 del Manual de buenas prácticas comerciales para el sector de los supermercados.</b>
                            </ul>
                            <br />
                            <ul style="margin:15px; margin-top:-15px;font-size:13px;">
                                <b>&bull; Que el proveedor incumpla los lineamientos de entrega de productos especificados en el Art.10 del Manual de buenas prácticas comerciales para el sector de los supermercados.</b>
                            </ul>
                            <br />
                            <ul style="margin:15px; margin-top:-15px;font-size:13px;">
                                <b>&bull; Que exista incumplimiento del proveedor en cualquiera de las cláusulas del contrato de provisión de mercaderías firmado entre este y Corporación El Rosado.</b>
                            </ul>






                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row" style="margin:0 -28px;">
            <div class="col-md-12" border="0">
                <img src="~/Images/--negocios_r8_c1 - copia.png" style="width:100%;" height="65" border="0" id="negocios_r8_c1" alt="" />
            </div>
        </div>
        <div class="row" style="margin:0 -18px;">
            <div class="col-md-12" border="0" style="text-align:right">
                <p style="font-size:10px;color:#808080">Todos los derechos reservados Corporación El Rosado S.A @DateTime.Now.Year&copy;    </p>
            </div>
        </div>

    </section>
</div>



@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            //Slider
            $('#camera_wrap_1').camera({
                fx: 'simpleFade'
            });

        });

    </script>
    <script>
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
}
