@{
    ViewBag.Title = "Quiénes Somos";
    Layout = "~/Views/Shared/_LayoutSecundarioG.cshtml";
}

<div class="wrap" style="margin-left:10px;">
    <section>
        <div class="row">

            <div class="col-md-12 col-xs-12 col-sd-12">
                <div class="" align="left" style="margin: 18px; font-family: Lato-Regular,Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; color: rgb(0,114,57)">
                    <p><b>Quiénes somos</b></p>
                </div>
            </div>

        </div>
        <div class="row">

            @*<div class="span13">*@



            <div class="col-md-8 col-xs-8 col-sd-8" style="font-size: 16px; color: #808080; font-family: Lato-Regular,Arial">
                <p align="justify">Todo se inició en 1936, cuando Don Alfredo Czarninski abrió una pequeña pastelería llamada "El Rosado", ubicada en el tradicional Boulevard 9 de Octubre. Poco a poco, y con la ayuda de su esposa Ruth, fueron consolidando la idea de un establecimiento diferente, donde se venda más que solo deliciosos dulces.</p>


                <p align="justify">Así nació un nuevo proyecto que se convirtió en “Restaurante El Rosado”, con el mismo nombre de la pastelería y con sillas de ese color. Era un salón ubicado en la Av. 9 de Octubre entre García Avilés y Boyacá. El éxito fue tal que se convirtió en sitio obligado de reuniones sociales y culturales de los últimos años de la década del cuarenta y del cincuenta. El presidente José María Velasco Ibarra estuvo varias veces allí, degustando el toque extranjero y criollo que tenían los platos de El Rosado. </p>
            </div>
            <div class="col-md-4 col-xs-4 col-sd-4">
                <img src="~/Content/Portal/images/historia.png" class="img-responsive" style="height:100%" alt="Image" />
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 col-xs-12 col-sd-12" style=" font-size:16px;color:#808080">
                <p align="justify">Más adelante, Don Alfredo, hombre muy visionario, se adelantó a   comprar un local frente al restaurante para instalar un almacén de   variedades, al cual llamó: "Importadora El Rosado".Meses después, cerró   el restaurante y tal cual se desarrollaban los negocios de venta de   víveres y artículos varios, se instaló por primera vez en Ecuador la   modalidad de auto-servicio, que se denominó Supermercados "El Rosado". </p>
                <p align="justify">En la actualidad, Corporación El Rosado es una de las empresas más importantes del Ecuador. Además de ser también un ejemplo de   innovación y desarrollo, genera miles de plazas de trabajo en sus   actividades de diversos tipos. La corporación posee cadenas de supermercados, jugueterías,   tiendas por departamentos,  home centers,  tiendas de música y   video, distribuidos en las   ciudades más importantes del país.</p>
            </div>
            @*</div>*@


        </div>
        <br />
        <div class="row" style="margin:0 -25px;">
            <div class="col-md-12" border="0">
                <img src="~/Images/--negocios_r8_c1 - copia.png" style="width:100%;" height="65" border="0" id="negocios_r8_c1" alt="" />
            </div>
        </div>
        <div class="row" style="margin:0 -18px;">
            <div class="col-md-12" border="0" style="text-align:right">
                <p style="font-size:10px;color:#808080">Todos los derechos reservados Corporación El Rosado S.A @DateTime.Now.Year&copy;    </p>
            </div>
        </div>
    </section>
</div>
