@{
    ViewBag.Title = "Trabaja con Nosotros";
    Layout = "~/Views/Shared/_LayoutSecundario.cshtml";
}

<!DOCTYPE html>
<div class="wrap">

    <section>
        <div class="row">
            <br />
            <br />
            <div class="col-md-1">

            </div>
            <div class="col-md-11">




            </div>
        </div>
        <div class="row" style="text-align:center">

            <div class="col-md-12" style="left:-10px">
                <embed src="https://empleo.elrosado.com/empleo/Candidatos/index.jsp" width="980" height="650">
            </div>



        </div>

        <div class="row" style="margin:0 -28px;">
            <div class="col-md-12" border="0">
                <img src="~/Images/--negocios_r8_c1 - copia.png" style="width:100%;" height="65" border="0" id="negocios_r8_c1" alt="" />

            </div>
        </div>
        <div class="row" style="margin:0 -18px;">
            <div class="col-md-12" border="0" style="text-align:right">
                <p style="font-size:10px;color:#808080">Todos los derechos reservados Corporación El Rosado S.A @DateTime.Now.Year&copy;    </p>
            </div>
        </div>

    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            //  window.open('http://10.11.5.12:8080/empleo', '_blank')
        });

    </script>
}
