<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WCFEnvioCorreo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="RutaLog" value="C:\\SIPECOM\\Sitio\\WcfEnvioCorreo\\Log\\LOGWEBCORREO" />
    <add key="RutaFisicaDownload" value="C:\SIPECOM\Sitio\WcfEnvioCorreo\Download\" />
    
    <add key="IdAplicacion" value="1" />
    <add key="IdiomaBDD" value="en-US" />
    <add key="IdAplicacionApl" value="28" />
    <add key="IdUsuarioApl" value="usr_apl_PortalProv" />
    <add key="IdUsrlocal" value="usr_apl_PortalProv" />
    <add key="UrlBase" value="http://localhost:49378/ServBaseProceso.asmx" />
    <add key="IdServidorEjecutaSQL" value="27" />
    <add key="IdEmpresa" value="2"/>
    <add key="IdSucursal" value="0"/>
    
    <!--Datos de LOG-->
    <add key="ArchivoLog" value="C:\\Sipecom\\ServiciosWindows\\ServicioCreaUsuario\\Logs\\Crea_Usuario_Log_|yyyy-|MM-|dd-_|HH.txt"/>
    <add key="Auditar" value="S"/>
    <add key="LogError" value="S"/>
    <add key="LogInfo" value="S"/>

  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <WCFEnvioCorreo.Properties.Settings>
      <setting name="WCFEnvioCorreo_SoloBizWsSendMail_clsSendMail"
        serializeAs="String">
        <value>http://10.11.1.227/SoloBizWsSendMail_Proveedores/SendMail.asmx</value>
      </setting>
      <setting name="WCFEnvioCorreo_ProcesoWs_ServBaseProceso" serializeAs="String">
        <value>http://localhost:49378/ServBaseProceso.asmx</value>
      </setting>
    </WCFEnvioCorreo.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>