USE [SipecomDB]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 10/8/2023 6:01:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ruc] [varchar](50) NOT NULL,
	[codProveedor] [nvarchar](50) NOT NULL,
	[proveedor] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licencias]    Script Date: 10/8/2023 6:01:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licencias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[clienteId] [int] NOT NULL,
	[planId] [int] NOT NULL,
	[licencia] [nvarchar](100) NOT NULL,
	[vencimiento] [datetime] NOT NULL,
	[cantidadMaxProveedores] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Licencias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planes]    Script Date: 10/8/2023 6:01:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[codPlan] [nvarchar](50) NOT NULL,
	[plan] [nvarchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
	[Activo]  AS ((1)),
 CONSTRAINT [PK_Planes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [ruc], [codProveedor], [proveedor], [Activo]) VALUES (1, N'990000670001', N'TT', N'ALIANZA ABBOTT.NUTRI - COMPLEMENTOS', 1)
INSERT [dbo].[Clientes] ([Id], [ruc], [codProveedor], [proveedor], [Activo]) VALUES (2, N'0990000670001', N'9', N'ALIANZA ABBOTT.NUTRI - FORMULAS', 1)
INSERT [dbo].[Clientes] ([Id], [ruc], [codProveedor], [proveedor], [Activo]) VALUES (3, N'0990000670001', N'WF', N'ALIANZA ABBOTT.NUTRI - REHIDRATANTES', 1)
GO
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO


SET IDENTITY_INSERT [dbo].[Planes] ON 

INSERT [dbo].[Planes] ([Id], [codPlan], [plan], [cantidad]) VALUES (1, N'1', N'Basico', 1000)
INSERT [dbo].[Planes] ([Id], [codPlan], [plan], [cantidad]) VALUES (2, N'2', N'Intermedio', 2000)
INSERT [dbo].[Planes] ([Id], [codPlan], [plan], [cantidad]) VALUES (3, N'3', N'Avanzado', 3000)
SET IDENTITY_INSERT [dbo].[Planes] OFF
GO
