<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IdEmpresa" value="2" />
    <add key="IdSucursal" value="0" />
    <add key="IdAplicacion" value="21" />
    <add key="IdOrganizacion" value="38" />
    <add key="IdiomaBDD" value="en-US" />
    <add key="IdUsuarioApl" value="usr_apl_facturaE" />
    <add key="IdServidorEjecutaSQL" value="84" />
    <add key="Auditar" value="S" />
    <add key="LogError" value="S" />
    <add key="LogInfo" value="S" />
    <add key="Concurrencia" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="RutaCorreoNotificacion" value="C:\SIPECOM\ServiciosWindows\ServEnvioCorreo\Plantilla" />
    <add key="ArchivoLog" value="C:\SIPECOM\ServiciosWindows\ServEnvioCorreo\Logs\LOG_|yyyy-|MM-|dd-_|HH.txt" />
    <add key="LogoCabecera" value="http://10.2.6.196:16001/imagen/logoMail.png" />
    <add key="LogoFooter" value="http://10.2.6.196:16001/imagen/logoMail.png" />
    <add key="imgHelp" value="http://10.2.6.196:16001/imagen/imgHelp.png" />
    <add key="imgArrowRight" value="http://10.2.6.196:16001/imagen/imgArrowRight.png" />
    
    <add key="CorreoDestinatarioTest" value="jpichu@sipecom.com;kgomez@sipecom.com;jtorres@sipecom.com"/>

  </appSettings>
  <connectionStrings>
    <!--<add name="SqlConn" providerName="System.Data.SqlClient" connectionString="Data Source =10.1.8.237; Initial Catalog = SIPE_ALERTAS; User ID = usrNotificador; Password =123456 ; Connect Timeout = 20;" />-->
    <add name="SqlConn" providerName="System.Data.SqlClient" connectionString="Data Source = 10.2.7.236; Initial Catalog = SIPE_PROVEEDOR; User ID = sipecom; Password =Sipecom2015 ; Connect Timeout = 1200;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="3DES" decryption="3DES" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>