<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Sbb" value="046AD8B4A1AA3AA8821BB9A027D712C969576EBD15BB6E5A0659D8BCF55990C2C931464A78F5A87E59D72DE7D430E2E88E72F34ADF3BB33CDD23759B364F3162A6C29AA1335AEAFE5FEA79B0D73310240F8783FD7FBE94AE13E8D9DE4BB6D7EA851D1A7B95719FABBD6FF355F91A976DA5E57B6BA77C7E66CED99359701026C248B55FC0D9551267E282117B807E7F284AA0A39E3F70AD62348FC872CC18982FAEEB0F32A2090D12B1C67CFC1008F9B2A6FA95605407500EC619583EFDD39BE764796757FB993DCE1B75FD5B4553AC0FCE988B0821120F4136D26B109554A46CE2B3CF6359E7C26CA1DC20DA922C5E9A1CA249F641FC9AA05F7772264B82B6A9"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
