@{
    ViewBag.Title = "Reporte Usuario No Ingresado";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}
@section styles{
    <link href="~/Content/Validation.css" rel="stylesheet" />
    <link href="~/assets/css/fileinput.css" rel="stylesheet" />
    <link href="~/assets/css/angular-busy.css" rel="stylesheet" />


}
<div style="height :100%; width:100%; font-size:12px;zoom:100%;">
    <div class="breadcrumbs" id="breadcrumbs" style="top:0px;">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>&nbsp;<a href="~/Home/Index">Inicio</a>
            </li>
            <li>
                <i class="menu-icon fa fa-file-text-o""></i>
                <a href="~/Home/Index">Reportes</a>
            </li>

            <li>
                <i class="ace-icon glyphicon glyphicon-user"></i>
                <a href="frmReporteUsuarioNoIngreso">Usuarios sin Ingreso por Primera Vez</a>
            </li>
        </ul><!-- /.breadcrumb -->
        <!-- #section:basics/content.searchbox -->
        <!-- /section:basics/content.searchbox -->
    </div>
</div>
<body data-ng-controller="ReporteNoUsuarioController">
    <div style="height :100%; width:100%; font-size:12px;zoom:100%;">
        @*Session Busqueda*@
        <div style="height:100%;">
            <div class="ace-settings-container" id="ace-settings-container">
                <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                    <i class="ace-icon  glyphicon glyphicon-search bigger-130"></i>
                </div>
                <div class="ace-settings-box clearfix" id="ace-settings-box">
                    <div class="container container-fluid" style="padding:0 0 0 0">
                        <div class="row">
                            <div class="col-md-3" style="text-align: right;">
                                <button type="button" id="btnConsulta1" class="btn btn-sm btn-round"
                                        style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important;"
                                        create-pages results="resDgConsulta" number-per-page="30" pages="pagesCo"
                                        page-content="pageContentCo;" page-limit="9000" binding="blur"
                                        ng-click="Consultar(); showPaginate=true;">
                                    <i class="glyphicon glyphicon-search"></i>
                                    Consultar
                                </button>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-4 titulos">
                                    <span class="lbl" style="font-family:Arial;font-size:12px;font-weight:bold">Criterio de Búsqueda</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-lg-12">
                                    Todos:
                                    <input type="checkbox" name="busTodos" class="ace" value="1" id="busTodos" ng-model="busTodos" ng-click="verFiltro()" />
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <div ng-hide="filtroBusquedad">
                                <div class="row">
                                    <div class="col-md-4 titulos">
                                        <span class="lbl" style="font-family:Arial;font-size:12px;font-weight:bold">Consulta por Código de Proveedor</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>
                                            <input type="radio" name="FiltrosGrupo1" class="ace form-control" id="rbtPorFecha" ng-model="pOpcGrp1" value="P" ng-click="habilitar()" />
                                            <span class="lbl">Código de Proveedor:</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="text" id="txtsap" class="form-control" ng-model="txtsap" placeholder="Código de Proveedor" style=" width: 100%" ng-disabled="habilitarp" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 titulos">
                                        <span class="lbl" style="font-family:Arial;font-size:12px;font-weight:bold">Consulta por Usuario</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>
                                            <input type="radio" name="FiltrosGrupo1" class="ace form-control" id="rbtPorFecha" ng-model="pOpcGrp1" value="U" ng-click="habilitar()" />
                                            <span class="lbl">Usuario:</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="text" id="txtusuario" class="form-control" ng-model="txtusuario" placeholder="Usuario" style=" width: 100%" ng-disabled="habilitaru" />
                                    </div>
                                </div>
                            </div>

                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
            @*Fin Session Busqueda*@
        </div>
        <div cg-busy="{promise:myPromise,message:message,backdrop:true}">
            <div class="widget-box">
                <div class="widget-header" style="text-align:center;text-wrap:none;color:#006865;font-size:13px;font-family:Arial">
                    <h4 class="widget-title">REPORTES DE USUARIO SIN INGRESO POR PRIMERA VEZ</h4>
                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                    <font ng-hide="etiTotRegistros==''" class="widget-toolbar"> Total: {{etiTotRegistros}} Registros </font>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        @*Session Botones*@
                        <div class="widget-box">
                            <div class="widget-header">
                                <div class="row">
                                    <div class=" col-md-12 ">
                                        <h4 class="smaller" style="text-align:right;">
                                            <button type="button" class="btn btn-sm btn-round" style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important;font-size:12px" ng-click="exportar(1)">
                                                <i class="fa fa-file-excel-o "></i>
                                                Exportar Excel
                                            </button>
                                            <button type="button" class="btn btn-sm btn-round" style="background-color:rgb(238,37,34)!important;border-color:rgb(238,37,34)!important;font-size:12px" ng-click="exportar(2)">
                                                <i class="fa fa-file-pdf-o"></i>
                                                Exportar PDF
                                            </button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Fin Session Botones*@
                        <div class="widget-body">
                            <div class="widget-main">
                                <div ng-controller="PaginationController">
                                    <div ng-show="showPaginate">
                                        <div id="no-more-tables">
                                            <table class="table table-striped table-bordered table-condensed table-hover gridStyle">
                                                <thead>
                                                    <tr>
                                                        <th class="grid-header uppercase info" style="font-size:11px;text-align:center;color:#006865">
                                                            <a href="#" ng-click="sortType = 'ruc'; sortReverse = !sortReverse">
                                                                RUC
                                                                <span ng-show="sortType == 'ruc' && !sortReverse" class="fa fa-caret-down"></span>
                                                                <span ng-show="sortType == 'ruc' && sortReverse" class="fa fa-caret-up"></span>
                                                            </a>
                                                        </th>
                                                        <th class="grid-header uppercase info" style="font-size:11px;text-align:center;color:#006865">
                                                            <a href="#" ng-click="sortType = 'codproveedor'; sortReverse = !sortReverse">
                                                                Cód. Proveedor
                                                                <span ng-show="sortType == 'codproveedor' && !sortReverse" class="fa fa-caret-down"></span>
                                                                <span ng-show="sortType == 'codproveedor' && sortReverse" class="fa fa-caret-up"></span>
                                                            </a>
                                                        </th>
                                                        <th class="grid-header uppercase info" style="font-size:11px;text-align:center;color:#006865">
                                                            <a href="#" ng-click="sortType = 'nomcomercial'; sortReverse = !sortReverse">
                                                                Razón Social
                                                                <span ng-show="sortType == 'nomcomercial' && !sortReverse" class="fa fa-caret-down"></span>
                                                                <span ng-show="sortType == 'nomcomercial' && sortReverse" class="fa fa-caret-up"></span>
                                                            </a>
                                                        </th>
                                                        <th class="grid-header uppercase info" style="font-size:11px;text-align:center;color:#006865">
                                                            <a href="#" ng-click="sortType = 'telefono'; sortReverse = !sortReverse">
                                                                Teléfono
                                                                <span ng-show="sortType == 'telefono' && !sortReverse" class="fa fa-caret-down"></span>
                                                                <span ng-show="sortType == 'telefono' && sortReverse" class="fa fa-caret-up"></span>
                                                            </a>
                                                        </th>
                                                        <th class="grid-header uppercase info" style="font-size:11px;text-align:center;color:#006865">
                                                            <a href="#" ng-click="sortType = 'usuario'; sortReverse = !sortReverse">
                                                                Usuario
                                                                <span ng-show="sortType == 'usuario' && !sortReverse" class="fa fa-caret-down"></span>
                                                                <span ng-show="sortType == 'usuario' && sortReverse" class="fa fa-caret-up"></span>
                                                            </a>
                                                        </th>
                                                        <th class="grid-header uppercase info" style="font-size:11px;text-align:center;color:#006865">
                                                            <a href="#" ng-click="sortType = 'nombre'; sortReverse = !sortReverse">
                                                                Nombre Usuario
                                                                <span ng-show="sortType == 'nombre' && !sortReverse" class="fa fa-caret-down"></span>
                                                                <span ng-show="sortType == 'nombre' && sortReverse" class="fa fa-caret-up"></span>
                                                            </a>
                                                        </th>
                                                        <th class="grid-header uppercase info" style="font-size:11px;text-align:center;color:#006865">
                                                            <a href="#" ng-click="sortType = 'correoE'; sortReverse = !sortReverse">
                                                                Correo
                                                                <span ng-show="sortType == 'correoE' && !sortReverse" class="fa fa-caret-down"></span>
                                                                <span ng-show="sortType == 'correoE' && sortReverse" class="fa fa-caret-up"></span>
                                                            </a>
                                                        </th>
                                                        <th class="grid-header uppercase info" style="font-size:11px;text-align:center;color:#006865">
                                                            <a href="#" ng-click="sortType = 'fechaRegistro'; sortReverse = !sortReverse">
                                                                Fecha Registro
                                                                <span ng-show="sortType == 'fechaRegistro' && !sortReverse" class="fa fa-caret-down"></span>
                                                                <span ng-show="sortType == 'fechaRegistro' && sortReverse" class="fa fa-caret-up"></span>
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="content in pageContentCo | orderBy:sortType:sortReverse">
                                                        <td style="font-size:11px;text-align:center" data-title="Ruc">{{content.ruc}}</td>
                                                        <td style="font-size:11px;text-align:center" data-title="Cód. Proveedor">{{content.codproveedor}}</td>
                                                        <td style="font-size:11px;" data-title="Razón Social">{{content.nomcomercial}}</td>
                                                        <td style="font-size:11px;" data-title="Teléfono">{{content.telefono}}</td>
                                                        <td style="font-size:11px;" data-title="Usuario">{{content.usuario}}</td>
                                                        <td style="font-size:11px;" data-title="Nombre Usuario">{{content.nombre}}</td>
                                                        <td style="font-size:11px;" data-title="Correo">{{content.correoE}}</td>
                                                        <td style="font-size:11px;text-align:center" data-title="Fecha Registro">{{content.fechaRegistro | date:'dd/MM/yyyy'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <ul style="position: relative;" class="pagination" ng-hide="pagesCo.length==0">

                                            <li pagination ng-class="[{active: page == getCurrentPage()}, {disabled: isFirstPage()} ]  " page="1">
                                                <a><div class="glyphicon glyphicon-fast-backward"></div></a>
                                            </li>
                                            <li ng-class="{disabled: isFirstPage()}" pagination-left><a><div class="glyphicon glyphicon-backward"></div></a></li>
                                            <li>
                                                <a> {{getCurrentPage()}} </a> <a>de</a> <a> {{pagesCo.length}}</a>
                                            </li>
                                            <li ng-class="{disabled: isLastPage()}" pagination-right><a><div class="glyphicon glyphicon-forward"></div></a></li>
                                            <li pagination ng-class="[{active: page == getCurrentPage()}, {disabled: isLastPage()} ]  " page="{{pagesCo.length}}">
                                                <a><div class="glyphicon glyphicon-fast-forward"></div></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            @Html.Partial("_mensajeConfirmado")
            @Html.Partial("_mensajeError")
            @Html.Partial("_mensajeConfirmacion")
            @Html.Partial("_mensajeInformativo")
        </div>
    </div>

</body>
@section scripts{
    <script src="~/assets/js/fileinput.js"></script>
    <script src="~/assets/js/fileinput.min.js"></script>
    <script src="../assets/js/chosen.jquery.js"></script>
    <script src="~/Scripts/General/FileSaver.min.js"></script>
}




