
<div class="row">

    <div class="col-sm-4">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Date Picker</h4>
                <span class="widget-toolbar"> <a href="#" data-action="settings"> <i class="ace-icon fa fa-cog"></i> </a> <a href="#" data-action="reload"> <i class="ace-icon fa fa-refresh"></i> </a> <a href="#" data-action="collapse"> <i class="ace-icon fa fa-chevron-up"></i> </a> <a href="#" data-action="close"> <i class="ace-icon fa fa-times"></i> </a> </span>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <label for="id-date-picker-1">Date Picker</label>
                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <!-- #section:plugins/date-time.datepicker -->
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy" />
                                <span class="input-group-addon"> <i class="fa fa-calendar bigger-110"></i> </span>
                            </div>
                        </div>
                    </div>
                    <div class="space space-8"></div>
                    <label>Range Picker</label>
                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-daterange input-group">
                                <input type="text" class="input-sm form-control" name="start" />
                                <span class="input-group-addon"> <i class="fa fa-exchange"></i> </span>
                                <input type="text" class="input-sm form-control" name="end" />
                            </div>
                            <!-- /section:plugins/date-time.datepicker -->
                        </div>
                    </div>
                    <hr />
                    <label for="id-date-range-picker-1">Date Range Picker</label>
                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <!-- #section:plugins/date-time.daterangepicker -->
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-calendar bigger-110"></i> </span>
                                <input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1" />
                            </div>
                            <!-- /section:plugins/date-time.daterangepicker -->
                        </div>
                    </div>
                    <hr />
                    <label for="timepicker1">Time Picker</label>
                    <!-- #section:plugins/date-time.timepicker -->
                    <div class="input-group bootstrap-timepicker">
                        <input id="timepicker1" type="text" class="form-control" />
                        <span class="input-group-addon"> <i class="fa fa-clock-o bigger-110"></i> </span>
                    </div>
                    <!-- /section:plugins/date-time.timepicker -->
                    <hr />
                    <label for="date-timepicker1">Date/Time Picker</label>
                    <!-- #section:plugins/date-time.datetimepicker -->
                    <div class="input-group">
                        <input id="date-timepicker1" type="text" class="form-control" />
                        <span class="input-group-addon"> <i class="fa fa-clock-o bigger-110"></i> </span>
                    </div>
                    <!-- /section:plugins/date-time.datetimepicker -->
                </div>
            </div>
        </div>
    </div>
</div>
 