@*Session Mensaje Confirmacion Eliminar*@
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="idMensajeConfirmacionEliminar" tabindex="-1" role="dialog" aria-hidden="true" style="z-index:98;height:100%; width:100%;">
    <div class="modal-dialog" style="height:80%; top:20%">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
                <div @*class="widget-box"*@>
                    <div class="widget-header" style="color:#ffffff; background:#428BCA !important;border-color:#428BCA !important;height:36px">
                        <div class="col-md-1">
                            <button style="background:#428BCA!important;border-color:#428BCA !important" class="btn   btn-danger btn-xs">
                                <i class="ace-icon fa fa-question-circle bigger-200"></i>
                            </button>
                        </div>
                        <div class="col-md-10">
                            <h4 class="white text-primary bigger-125">
                                Mensaje de Confirmación
                            </h4>
                        </div>
                        <div class="col-md-1">

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-body" style="  max-height: 70%; overflow-y: auto;">
                <div class="panel-body">
                    <br />
                    <center>
                        <label>
                            <span class="lbl"><b>{{MenjConfirmacion}}</b></span>
                        </label>
                    </center>
                    <br />
                </div>

            </div>
            <div class="modal-footer">
                <div style="text-align:center;">
                    <button type="button" class="btn btn-primary btn-sm " data-dismiss="modal" id="btnMsjConfirmEli" ng-click="Eliminar();">
                        <i class=" ace-icon fa fa-trash">
                        </i>
                        Eliminar
                    </button>
                    <button type="button" class="btn btn-primary btn-sm " data-dismiss="modal" id="btnCancelar">
                        <i class="ace-icon fa fa-remove"></i>
                        Cancelar
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
@*Fin Session Mensaje Confirmacion Eliminar*@
