@{
    ViewBag.Title = "Transporte";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}
@section styles{
    <link href="~/Content/Validation.css" rel="stylesheet" />
    <link href="~/assets/css/fileinput.css" rel="stylesheet" />
    <link href="~/assets/css/angular-busy.css" rel="stylesheet" />

}
<body >
    <div class="row">
        <embed src="~/PDF/Proximamente.pdf" class="col-md-12 col-xs-12 col-sd-12" height='600'>
    </div>
</body>