@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrivado.cshtml";

}


<!--page_container-->
<div class="page_container"  >
    <div class="breadcrumbs" id="breadcrumbs" style="top:0px;">
        <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="menu-icon fa fa-book"></i>
                <a href="#">Comunicaciones</a>
            </li>

            <li>
                <a href="frmQuienesSomos">Quiénes Somos</a>
            </li>
            @*<li class="active">Profile 1</li>*@
        </ul><!-- /.breadcrumb -->
        <!-- #section:basics/content.searchbox -->
        <!-- /section:basics/content.searchbox -->
    </div> 
    <!--slider-->
    <div class="row" style="text-align: center;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            
            
            <div class="wrap latest_news_block">
                <div class="row">
                    <div class="col-md-12" align="justify">
                        <p class="red text-primary bigger-230"><b>Quiénes Somos</b></p>
                    </div>
                    
                </div>
                <div class="row">
                        <div class="col-md-8" align="justify">
                            <p class="grey text-primary bigger-125">Todo se inició en 1936, cuando Don Alfredo Czarninski abrió una pequeña pastelería llamada "El Rosado", ubicada en el tradicional Boulevard 9 de Octubre. Poco a poco, y con la ayuda de su esposa Ruth, fueron consolidando la idea de un establecimiento diferente, donde se venda más que solo deliciosos dulces.<br /><br />Así nació un nuevo proyecto que se convirtió en “Restaurante El Rosado”, con el mismo nombre de la pastelería y con sillas de ese color. Era un salón ubicado en la Av. 9 de Octubre entre García Avilés y Boyacá. El éxito fue tal que se convirtió en sitio obligado de reuniones sociales y culturales de los últimos años de la década del cuarenta y del cincuenta. El presidente José María Velasco Ibarra estuvo varias veces allí, degustando el toque extranjero y criollo que tenían los platos de El Rosado.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Content/Portal/images/historia.png" class="img-responsive" alt="Image">
                            
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-12" align="justify">
                        <p class="grey text-primary bigger-125">Más adelante, Don Alfredo, hombre muy visionario, se adelantó a comprar un local frente al restaurante para instalar un almacén de variedades, al cual llamó: "Importadora El Rosado". Meses después, cerró el restaurante y tal cual se desarrollaban los negocios de venta de víveres y artículos varios, se instaló por primera vez en Ecuador la modalidad de auto-servicio, que se denominó Supermercados "El Rosado".<br /><br />En la actualidad, Corporación El Rosado es una de las empresas más importantes del Ecuador. Además de ser también un ejemplo de innovación y desarrollo, genera miles de plazas de trabajo en sus actividades de diversos tipos. La corporación posee cadenas de supermercados, jugueterías, tiendas por departamentos, home centers, tiendas de música y video, distribuidos en las ciudades más importantes del país.</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="footer_bottom">
        <div class="wrap">
            <div class="container">
                <div class="fleft copyright">Corporación El Rosado &copy; 2015  |  <a href="javascript:void(0);">Políticas de Privacidad</a></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

 

    <!--//slider-->
    <!--planning-->
   
    <!--//planning-->
    <!--Welcome-->
    
    <!--//Welcome-->
    <!--Latest news-->
    
    <!--Latest news-->


<!--//page_container-->
<!--footer-->

<!--//footer-->
